main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.guitar-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}