main {
  width: max(300px, 50%);
  margin: 0 auto;
}

h1 {
  margin: 20px;
  text-align: center;
}

.guitar-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}